* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &:before,&:after{
    box-sizing: border-box;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing:antialiased
}

button,input,textarea,select{
  font: inherit;
}
p,h1,h3,h3,h4,h6,span{
  overflow-wrap: break-word;
}
img,video,canvas,svg{
  max-width: 100%;
}
a{
  text-decoration: none;
  color:inherit,
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
button{
  border: none;
  outline: none;
}

